*{
  margin:0px;
  padding:0px;
  

}
.header{
  background-color: rgb(238, 255, 0);
   text-align: center;
   height :60px;
}

.main{
   display: flex;
  justify-content: center;
   flex-wrap:wrap;
   padding: 2px;
   background-color: bisque;
   
}

.movie{
  background-color: rgb(129, 129, 129);
  color: black;
  border:1px solid rgb(111, 111, 111) ;
  padding: 73px;
  font-weight: bold;
  text-align: left;

}
img {
  width: 300px;
  height: 400px;
}
